rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{document=**} {
      // Only authenticated users can read or modify their own data
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      // All user can create new data
      allow create: if request.auth != null;
    }
  }
}